{% load i18n %}

<footer class="container mx-auto flex justify-center items-center h-20 border-t font-medium text-gray-500 relative">
  <span>&copy; 2021 Airbnb Clone, Inc. {% trans "All rights reserved" %}.</span>
  {% get_current_language as LANGUAGE_CODE %}
  <div class="ml-8 w-28 place-self-center absolute right-0">
    <i class="fas fa-globe"></i>
    <select name="language" id="js-lang" class="outline-none">
      <option value="en" {% if LANGUAGE_CODE == 'en' %} selected {% endif %}>English</option>
      <option value="ko" {% if LANGUAGE_CODE == 'ko' %} selected {% endif %}>Korean</option>
    </select>
  </div>
</footer>
