{% extends 'base.html' %}
{% load param_replace i18n %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto mt-24 relative">

        <h2 class="text-2xl font-medium">{% trans "Search Results" %}</h2>

        <div class="flex justify-start text-lg my-3">
            <div class="flex cursor-pointer items-center" id="js-searchFilter">
                <i class="fas fa-filter text-red-400"></i>
                <span class="text-red-400 ml-1 font-medium">Filters</span>
            </div>
        </div>
        <form method="get" action="{% url 'rooms:search' %}" class="w-4/5 search_form absolute fixed z-0 opacity-0 bg-white border-2 border-gray-300 p-3 rounded-2xl pointer-events-none">

            {{form.as_p}}
            <div class="w-full flex justify-center">
                <button class="btn bg-blue-400 w-1/4 text-white font-medium text-lg mt-6 place-self-center hover:bg-blue-300">{% trans "Search" %}</button>
            </div>

        </form>

        <div class="flex flex-wrap w-full -mx-2 mb-10">
            {% for room in rooms %}
                {% include 'partials/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <div class="flex justify-center items-center text-xl mb-10">
            {% if rooms.has_previous %}
                <a class="paginator_arrow" href="?{% param_replace page=rooms.previous_page_number %}">
                    <i class="fas fa-angle-left"></i>
                </a>
            {% else %}
                <a class="text-gray-300"><i class="fas fa-angle-left"></i></a>
            {% endif %}

            <div class="mx-14 font-semibold">
                <span>{{rooms.number}}</span>
                <span class="mx-5 text-gray-400">/</span>
                <span>{{rooms.paginator.num_pages}} </span>
            </div>

            {% if rooms.has_next %}
                <a class="paginator_arrow" href="?{% param_replace page=rooms.next_page_number %}">
                    <i class="fas fa-angle-right"></i></a>
            {% else %}
                <a class="text-gray-300"><i class="fas fa-angle-right"></i></a>
            {% endif %}
        </div>

    </div>
{% endblock content %}