{% extends 'base.html' %}
{% load param_replace i18n %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block content %}

    <h2>{% trans "Search!" %}</h2>

    <form method="get" action="{% url 'rooms:search' %}">

        {{form.as_p}}
        <button>{% trans "Search" %}</button>

    </form>

    <h3>{% trans "Results" %}</h3>

    {% for room in rooms %}
        {% include 'partials/room_card.html' with room=room %}
    {% endfor %}

    <h5>
        {% if rooms.has_previous %}
            <a href="?{% param_replace page=rooms.previous_page_number %}">{% trans "Previous" %}</a>
        {% endif %}
        Page {{rooms.number}} of {{rooms.paginator.num_pages}}
        {% if rooms.has_next %}
            <a href="?{% param_replace page=rooms.next_page_number %}">{% trans "Next" %}</a>
        {% endif %}
    </h5>

{% endblock content %}