{% extends 'base.html' %}

{% block page_title %}
  Home
{% endblock page_title %}

{% block content %}

  <div class="flex items-center h-75vh w-full mt-20 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1579762593175-20226054cad0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2007&q=80)">
    <div class="container mx-auto w-full text-9xl text-white font-bold mt-20">Go<br>Near</div>
  </div>
  
  <div class="container mx-auto">

    <div class="flex flex-wrap w-full -mx-2">
      {% for room in rooms %}
        {% include 'partials/room_card.html' with room=room %}
      {% endfor %}
    </div>
    
    <div class="flex justify-center items-center">

      {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-angle-left"></i></a>
      {% else %}
        <a class="text-gray-300"><i class="fas fa-angle-left"></i></a>
      {% endif %}

      <div class="px-3">
        {{page_obj.number}} / {{page_obj.paginator.num_pages}}
      </div>

      {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-angle-right"></i></a>
      {% else %}
        <a class="text-gray-300"><i class="fas fa-angle-right"></i></a>
      {% endif %}

    </div>
  </div>

{% endblock content %}
