{% extends 'base.html' %}

{% block page_title %}
  {{room.name}} | Airbnb
{% endblock page_title %}


{% block content %}
    <div class="container max-w-full mb-20 flex px-20 flex flex-col">

        <div class="text-3xl font-medium mt-10 mb-3">{{room.name}}</div>

        <div class="flex justify-between items-center text-sm mb-4">
            <div class="flex">
                <span class="text-red-400">★</span>
                <a href="#"><span class="font-semibold underline">{{room.total_rating}}</span></a>
                <span class="text-gray-500">{{room.num_reviews}}</span>
                {% if room.host.superhost %}
                <span class="text-gray-500">&nbsp;･ <i class="fas fa-medal text-red-400"></i>
                    Superhost
                </span>
                {% endif %}
                <span class="text-gray-500">&nbsp;･ {{room.city}} ･ {{room.country.name}}</span>
            </div>
            <a href="#" class="room_detail_btn text-lg">
                <i class="far fa-heart"></i>
                <span class="ml-1 font-semibold underline">Save</span>
            </a>
        </div>

        <section class="overflow-hidden h-50vh max-w-full flex mb-10">
            <div class="first_photo h-full w-1/2 bg-cover bg-center mr-2" style="background-image: url({{room.first_photo}});"></div>
            <div class="h-full w-1/2 grid grid-cols-2 grid-rows-2 gap-2">
                {% for photo in room.get_next_four_photos %}
                <div class="four_photos w-full h-full bg-cover bg-center" style="background-image: url({{photo.file.url}});"></div>
                {% endfor %}
            </div>    
        </section>

        <section class="flex justify-between">
            <div class="room_info">
                <div class="top flex justify-between">
                    <div class="top-left flex flex-col">
                        <span class="text-2xl font-medium mb-1">{{room.room_type}} hosted by {{room.host.first_name}}</span>
                        <span class="room_capacity font-light">
                            {{room.guests}} guest{{room.guests|pluralize}} ･ {{room.bedrooms}} bedroom{{room.bedrooms|pluralize}} ･ {{room.beds}} bed{{room.beds|pluralize}} ･ {{room.baths}} bath{{room.baths|pluralize}}</span>
                    </div>
                    <a href="{{room.host.get_absolute_url}}" class="relative">
                        {% include 'partials/user_avatar.html' with user=room.host size=16 %}
                        <i class="fas fa-check-circle text-green-400 text-sm absolute bottom-0 right-0"></i>
                    </a>
                </div>
                <hr class="border-top border-gray-200 my-7">
                <p class="font-light">
                    {{room.description}}
                </p>
                <hr class="border-top border-gray-200 my-7">
                <div class="amenities">
                    <h4 class="font-medium text-2xl pt-4">Amenities</h4>
                    <div class="flex flex-wrap font-light mt-6">
                        {% for a in room.amenities.all %}
                          <li class="w-1/2 my-1">{{a}}</li>
                        {% endfor %}
                    </div>
                </div>
                <hr class="border-top border-gray-200 my-7">
                <div class="house_rule">
                    <h4 class="font-medium text-2xl pt-4">House Rules</h4>
                    <div class="flex flex-wrap font-light mt-6">
                        {% for r in room.house_rule.all %}
                        <li class="w-1/2 my-1">{{r}}</li>
                        {% endfor %}
                    </div>
                </div>
                <hr class="border-top border-gray-200 my-7">
                <div class="reviews">
                    <div class="flex items-end">
                        <h4 class="font-medium text-2xl pt-4">Reviews</h4>
                        <span class="mx-4 text-gray-400 text-2xl">|</span>
                        <h4 class="font-medium text-2xl pt-3">
                            <span class="text-red-400">★</span>
                            <span class="font-semibold">{{room.total_rating}}</span>
                            <span class="text-gray-500">{{room.num_reviews}}</span>
                        </h4>
                    </div>
                    <div class="flex flex-wrap font-light mt-6">
                        <ul>
                            {% for r in room.reviews.all %}
                            <li class="flex flex-col">
                                <div class="flex items-center mb-3">
                                    {% include 'partials/user_avatar.html' with user=r.user size=16 text='2xl' %}
                                    <div class="ml-2 flex flex-col">
                                        <span class="font-medium">{{r.user.first_name}}</span>
                                        <span class="text-gray-500 text-sm">{{r.created|date:"F Y"}}</span>
                                    </div>
                                </div>
                                <p class="text-gray-600">{{r}}</p>
                                <hr class="border-top border-gray-100 my-7">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-1/3">
                
                {% if user == room.host %}
                    <div class="w-full">
                        <a class="btn edit_btn" href="{% url 'rooms:edit' room.pk %}">Edit Room</a>
                    </div>
                {% else %}

                    {% if not request.session.is_hosting %}
                    <div class="border border-gray-400 rounded-lg shadow-lg flex flex-col">
                        <div class="flex p-6 justify-between mb-5">
                            <div>
                                <span class="font-medium text-2xl">${{room.price}}</span>
                                <span class="font-light">total</span>
                            </div>
                            <div class="flex">
                                <span class="text-red-400">★</span>
                                <a href="#"><span class="font-semibold underline">{{room.total_rating}}</span></a>
                                <span class="text-gray-500">{{room.num_reviews}}</span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col items-center">
                            {% for calendar in room.get_calendars %}
                            <div class="mb-20 w-3/4">
                                <span class="text-center font-medium text-lg block mb-6">{{calendar.get_month}} {{calendar.year}}</span>
                                <div class="cal-grid mb-4">
                                    {% for day in calendar.day_names %}
                                        <span class="text-center text-gray-400 font-medium cursor-default">{{day}}</span>
                                    {% endfor %}
                                </div>
                                <div class="cal-grid">
                                    {% for day in calendar.get_days %}
                                        {% if day.number != 0 %}
                                            {% if day.past %}
                                                <div class="text-center rounded py-1 bg-gray-100 text-gray-300 cursor-default">{{day}}</div>
                                            {% else %}
                                                <div class="text-center rounded py-1 bg-gray-100 hover:font-medium hover:bg-red-400 hover:text-white cursor-pointer">
                                                    {{day}}
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div></div>
                                        {% endif %}  
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                        
                {% endif %}  
            </div>
        </section>
    </div>
{% endblock content %}