{% extends 'base.html' %}

{% block page_title %}
  {{room.name}} | Airbnb
{% endblock page_title %}


{% block content %}
    <div class="container max-w-full h-50vh mb-20 flex px-20 overflow-hidden">
        <div class="first_photo h-full w-1/2 bg-cover bg-center mr-2" style="background-image: url({{room.first_photo}});"></div>
        <div class="h-full w-1/2 grid grid-cols-2 grid-rows-2 gap-2">
            {% for photo in room.get_next_four_photos %}
              <div class="four_photos w-full h-full bg-cover bg-center" style="background-image: url({{photo.file.url}});"></div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}