{% extends 'base.html' %}
{% load my_tags i18n %}

{% block page_title %}
    My Favourites
{% endblock page_title %}

{% block content %}

<div class="min-h-full">

    <div class="container mx-auto flex flex-col items-center mt-36">
        <div class="text-2xl mb-7 ml-2 p-2 border-b-2 border-gray-400 self-start">
            <h3>{% trans "My Favourites" %}</h3>
        </div>
        <div class="flex flex-wrap w-full -mx-2 mb-10">
            {% for list in user.lists.all %}
                {% for room in list.rooms.all %}
                    {% include 'partials/room_card.html' with room=room %}
                {% endfor %} 
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}