@tailwind base;

@tailwind components;

.nav_link {
  @apply flex items-center border-white border-b-2 hover:border-gray-600 px-2 h-full;
  &:last-child {
    @apply ml-8;
  }
}

@tailwind utilities;
