@tailwind base;

@tailwind components;

.nav_link {
  @apply flex items-center border-b-2 hover:border-gray-600 px-2 h-full;
  &:last-child {
    @apply ml-8;
  }
}

.room_card {
  @apply w-1/4 mb-10 px-2 duration-200;
}

.room_card:hover {
  @apply transform -translate-y-3;
}

.paginator_arrow {
  @apply rounded-full px-3 py-2 duration-150 font-bold hover:bg-gray-700 hover:text-white;
}

.continue_form {
  @apply flex flex-col border mx-auto w-full rounded-lg p-6 border-gray-400 md:w-7/12 md:mt-32 md:mb-12 lg:w-1/3 lg:mt-32 lg:mb-12 xl:mt-32 xl:mb-12 xl:w-1/3 2xl:mt-32 2xl:mb-12 2xl:w-1/3;
}

.continue_title {
  @apply font-semibold text-center text-xl p-2 mb-6 border-b-2 border-gray-300 bottom-4 self-center justify-self-center text-gray-600;
}

.btn {
  @apply flex w-full h-12 items-center rounded-md leading-10 p-3;
}

.continue_form {
  input {
    @apply flex w-full h-12 items-center rounded-md leading-10 p-3 border border-gray-400 mb-3 focus:outline-none focus:border-gray-700;
  }
}

.social_login {
  @apply justify-center border-2 border-gray-400 mb-3 relative hover:border-gray-700;

  .social_login_icon {
    @apply text-2xl left-3 absolute;
  }
  .github {
    @apply text-gray-600;
  }
  .kakao {
    @apply text-yellow-500;
  }

  .social_login_text {
    @apply text-sm font-medium text-gray-600;
  }
}

.continue_btn {
  @apply justify-center bg-red-500 font-medium text-white hover:bg-red-400;
}

.hr-sect {
  @apply flex items-center text-gray-400 text-xs my-4;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

@tailwind utilities;
