@tailwind base;

@tailwind components;

.nav_link {
  @apply flex items-center border-b-2 border-white hover:border-gray-600 px-2 h-full ml-8;
}

.nav_profile_menu {
  @apply px-1 py-2 hover:bg-gray-200 cursor-pointer;
  &:not(last-child) {
    @apply border-b border-gray-400;
  }
}

.room_card {
  @apply w-1/4 mb-10 px-2 duration-200;
}

.room_card:hover {
  @apply transform -translate-y-3;
}

.paginator_arrow {
  @apply rounded-full px-3 py-2 duration-150 font-bold hover:bg-gray-700 hover:text-white;
}

.profile_container,
.continue_form {
  @apply flex justify-center flex-col border mx-auto w-full rounded-lg p-6 border-gray-400 md:w-7/12 md:mt-32 md:mb-12 lg:w-1/3 lg:mt-32 lg:mb-12 xl:mt-32 xl:mb-12 xl:w-1/3 2xl:mt-32 2xl:mb-12 2xl:w-1/3;
}

.continue_title {
  @apply font-semibold text-center text-xl p-2 mb-6 border-b-2 border-gray-300 bottom-4 self-center justify-self-center text-gray-600;
}

.btn {
  @apply flex w-full h-12 justify-center items-center rounded-md leading-10 p-3;
}

.btn-link {
  @apply flex w-full h-12 justify-center items-center rounded-md leading-10 p-3 bg-blue-500 text-white font-medium;
}

.continue_form {
  input,
  select {
    @apply flex w-full h-12 items-center rounded-md leading-10 p-3 border border-gray-400 mb-3;
    &:focus {
      @apply outline-none border-gray-700;
    }
  }
  .has_error {
    input {
      @apply bg-red-200;
    }
  }
}

.social_login {
  @apply justify-center border-2 border-gray-400 mb-3 relative hover:border-gray-700;
  &:hover {
    .github_icon,
    .kakao_icon,
    .social_login_text {
      @apply text-white;
    }
  }

  .social_login_icon {
    @apply text-2xl left-3 absolute;
  }
  .github_icon {
    @apply text-gray-600;
  }
  .kakao_icon {
    @apply text-yellow-500;
  }

  .social_login_text {
    @apply text-sm font-medium text-gray-600;
  }
}

.github {
  @apply duration-200 hover:bg-gray-600;
}

.kakao {
  @apply duration-200 hover:bg-yellow-500 hover:border-yellow-500;
}

.continue_btn {
  @apply justify-center bg-red-500 font-medium text-white hover:bg-red-400;
}

.edit_btn {
  @apply justify-center bg-red-500 font-medium text-white hover:bg-red-400;
}

.hr-sect {
  @apply flex items-center text-gray-400 text-xs my-4;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-220px);
  }
  20% {
    opacity: 1;
    transform: translateY(-60px);
  }
  90% {
    opacity: 1;
    transform: translateY(-60px);
  }
  100% {
    opacity: 0;
    transform: translateY(-220px);
  }
}

.message {
  animation: messageFadeIn 4s forwards;
  width: 25%;
  text-align: center;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-500;
  }
}

textarea {
  height: 20%;
  resize: none;
  @apply flex w-full items-center rounded-md leading-10 px-3 border border-gray-400 mb-3;
  &:focus {
    @apply outline-none border-gray-700;
  }
}

.first_photo {
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    filter: brightness(75%);
  }
}

.four_photos {
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    filter: brightness(75%);
  }
  &:nth-child(2) {
    border-top-right-radius: 10px;
  }
  &:nth-child(4) {
    border-bottom-right-radius: 10px;
  }
}

.room_detail_btn {
  @apply py-2 px-3 rounded-md;
  &:hover {
    @apply bg-gray-100;
  }
}

.room_info {
  width: 60%;
  margin-bottom: 5rem;
}

.room_reservation {
  width: 32%;
  height: 65vh;
}

#id_file {
  line-height: 1rem;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.review_form {
  @apply flex flex-col;
  label {
    @apply font-medium text-gray-500 text-lg;
  }
  input {
    @apply flex w-full h-12 items-center rounded-md leading-10 p-3 border border-gray-400 mb-3;
    &:focus {
      @apply outline-none border-gray-700;
    }
  }
}

.message_form {
  input {
    height: 100%;
    width: 90%;
    padding: 0 12px;
    outline: none;
    @apply border border-gray-300 rounded;
    &:focus {
      @apply border-gray-600;
    }
  }
}

.search_form {
  p {
    @apply mb-2;
  }
  label {
    @apply w-24 text-xl text-gray-500;
  }
  input {
    @apply text-xl border-b px-1 text-right outline-none;
    &:focus,
    &:hover {
      @apply border-b border-gray-800;
    }
  }
  input[type="text"] {
    @apply w-32;
  }
  input[type="number"] {
    @apply w-16 px-0;
  }
  input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    margin-right: 3px;
  }
  input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
  }
  input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
  }
  select {
    @apply w-36 border-b outline-none;
    &:hover {
      @apply border-b border-gray-800;
    }
  }
  #id_amenities {
    columns: 5;
    li {
      @apply mb-1;
    }
  }
}

.reservations_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 15% 15% 20%;
  gap: 2px;
  background-color: white;
}

.reservations_grid_category {
  @apply text-center text-lg font-medium;
}

.reservations_grid_item {
  @apply text-lg;
  &:not(:nth-child(2)) {
    @apply text-center;
  }
  &:not(:first-child) {
    @apply text-gray-600;
  }
}

@tailwind utilities;
