{% load i18n %}

<div class="hr-sect">{% trans "or" %}</div>

<div class="flex flex-col justify-between items-center">

    <a class="btn social_login github" href="{% url 'users:github_login' %}">
        <div class="social_login_icon github_icon"><i class="fab fa-github"></i></div>
        <span class="social_login_text">{% trans "Continue with GitHub" %}</span>
    </a>

    <a class="btn social_login kakao" href="{% url 'users:kakao_login' %}">
        <div class="social_login_icon kakao_icon"><i class="fab fa-kickstarter"></i></div>
        <span class="social_login_text">{% trans "Continue with Kakaotalk" %}</span>
    </a>

</div>