{% load static i18n %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/4d6e5672f0.js" crossorigin="anonymous" defer></script>
    <title>
      {% block page_title %}{% endblock page_title %}
      | Airbnb</title>
  </head>

  <body class="text-gray-800 mt-20">
    {% include "partials/messages.html" %}
    <header class="container z-40 max-w-full flex items-center justify-between text-center h-20 px-20 shadow-md fixed bg-white inset-0">
      <div class="flex">
        <a href="{% url 'core:home' %}">
          <img class="w-24" src="{% static 'img/logo.png' %}" alt="logo">
        </a>
      </div>
      {% block search_bar %}
      <form class="absolute left-0 right-0 flex justify-between m-auto border rounded-full border-solid px-6 py-2 text-sm w-80 shadow-md hover:shadow-lg transition duration-300" method="get" action="{% url 'rooms:search' %}">
        <input class="w-full placeholder-gray-800 font-medium focus:outline-none border-none" name="city" placeholder="{% trans 'Search by City' %}">
        <button class="p-2 rounded-full bg-red-400 text-white">
          <i class="fas fa-search"></i>
        </button>
      </form>
      {% endblock search_bar %}
      {% include "partials/nav.html" %}

    </header>

    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}

    <script>
      const langSelect = document.getElementById("js-lang");
      const searchFilter = document.getElementById("js-searchFilter");
      const profileBtn = document.getElementById("js-profile");
      const profileDiv = document.getElementById("js-profileDiv");
      const linkToReviews = document.getElementById("js-reviews");

      const handleLangChange = () => {
        const selected = langSelect.value;
        fetch(`{% url 'users:switch_language' %}?lang=${selected}`).then(() => window.location.reload());
      }

      const closeFilter = () => {
        const searchForm = document.querySelector(".search_form");
        searchForm.style.zIndex=0;
        searchForm.style.opacity=0;
        searchForm.style.pointerEvents="none";
        
        searchFilter.removeEventListener("click", closeFilter);
        searchFilter.addEventListener("click", openFilter);
      }

      const openFilter = () => {
        const searchForm = document.querySelector(".search_form");
        searchForm.style.zIndex=20;
        searchForm.style.opacity=1;
        searchForm.style.pointerEvents="auto";

        searchFilter.removeEventListener("click", openFilter);
        searchFilter.addEventListener("click", closeFilter);
      }

      const showProfileMenu = () => {
        const profileMenu = document.getElementById("profileMenu");
        profileMenu.style.zIndex=50;
        profileMenu.style.opacity=1;
        profileMenu.style.pointerEvents="auto";
      }

      const hideProfileMenu = () => {
        const profileMenu = document.getElementById("profileMenu");
        profileMenu.style.zIndex = 0;
        profileMenu.style.opacity = 0;
        profileMenu.style.pointerEvents = "none";
      }

      const scrollToReviews = () => {
        const reviewsLocation = document.querySelector(".reviews").offsetTop;
        const navHeight = document.querySelector("header").offsetHeight;

        window.scrollTo({top:reviewsLocation - navHeight, behavior:'smooth'});
      }

      linkToReviews.addEventListener("click", scrollToReviews);
      profileBtn.addEventListener("mouseover", showProfileMenu);
      profileDiv.addEventListener("mouseleave", hideProfileMenu);
      langSelect.addEventListener("change", handleLangChange);
      searchFilter.addEventListener("click", openFilter);
    </script>
  </body>

</html>