{% extends 'base.html' %}

{% load my_tags i18n %}

{% block page_title %}
    Reservation {{reservation.check_in}}
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col items-center rounded-2xl p-6 mt-32">

    <div class="continue_title">{% trans "Your Reservation" %}</div>

    <div class="border border-gray-200 rounded-xl overflow-hidden">

        <div class="w-full h-80 bg-cover bg-center border-b border-gray-200" style="background-image: url({{reservation.room.first_photo}});"></div>

        <div class="px-8 py-10 border-b border-gray-200">    
            <div class="mb-4 text-xl text-gray-500">
                {% if reservation.get_month_day == "12-31" %}
                    Dec 31, {{reservation.check_in.year}} - Jan 1, {{reservation.check_out.year}}
                {% else %}
                    {{reservation.get_check_in_month}} {{reservation.check_in.day}} - {{reservation.get_check_out_month}} {{reservation.check_out.day}}, {{reservation.check_out.year}}
                {% endif %}

                <span class="ml-5 font-medium {% if reservation.status == 'pending' %} text-yellow-500 {% elif reservation.status == 'confirmed' %} text-green-400 {% else %} text-red-400 {% endif %}">{{reservation.get_status_display}}</span>
            </div>
            <div class="font-semibold text-3xl text-gray-600">{{reservation.room.name}}</div>
        </div>

        <div class="px-8 py-10 flex w-full border-b border-gray-200">
            <div class="flex flex-col items-center mr-6">
                {% include 'partials/user_avatar.html' with user=reservation.room.host size=32 %}
                <div class="text-gray-500 mt-4 text-2xl">{{reservation.room.host.first_name}}</div>
            </div>
            <div class="flex flex-col justify-between w-full">
                <span class="font-medium text-2xl text-gray-600">{% trans "Contact Your Airbnb Host" %}</span>
                <span class="text-2xl text-gray-500">{% trans "Your host is the best person to contact for questions about your reservation." %}</span>
                {% if reservation.room.host != user %}
                    <a href="#" class="flex w-64 h-12 rounded-md leading-10 p-3 justify-center items-center border-2 border-green-500 text-green-500 text-xl font-medium hover:bg-green-500 hover:text-white">{% trans "Send a Message" %}</a>
                {% endif %}
            </div>
        </div>

        <div class="px-8 py-10 flex {% if reservation.status != 'confirmed' %}justify-evenly{% endif %}">

            {% if reservation.status != 'canceled' %}
                
                {% if reservation.status == 'confirmed' and reservation.is_finished %}
                <div class="w-full flex flex-col items-center">
                    <div class="text-3xl text-gray-600 mb-10 font-semibold py-5 px-12 border-b-2 border-gray-200">{% trans "Write a Review" %}</div>
                    <form action="{% url 'reviews:create' reservation.room.pk %}" method="POST" class="review_form w-1/2 h-50vh">
                        {% csrf_token %}
                        {{form}}
                        <button class="btn bg-blue-400 text-white font-medium mt-6 hover:bg-blue-300">{% trans "Submit" %}</button>
                    </form>
                </div>
                {% else %}
                    
                    {% if reservation.status == 'pending' %}
                        {% if reservation.room.host == user %}
                            <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}" class="btn w-64 bg-blue-400 text-white text-xl font-medium hover:bg-blue-300">{% trans "Confirm Reservation" %}</a>
                        {% endif %}
                            <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}" class="btn w-64 bg-red-400 text-white text-xl font-medium hover:bg-red-300">{% trans "Cancel Reservation" %}</a>
                    {% endif %}

                {% endif %}
                    
            {% endif %}
        </div>

    </div>
    
</div>

{% endblock content %}