{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
    My Reservations
{% endblock page_title %}

{% block content %}

<div class="min-h-full">

    <div class="container mx-auto flex flex-col items-center mt-36">
        <div class="text-2xl mb-7 ml-2 p-2 border-b-2 border-gray-400 self-start">
            <h3 class="font-medium">{% trans "Your Reservations" %}</h3>
        </div>
        <ul class="w-full">
            <li class="reservations_grid border-b-2 border-gray-500 pb-1">
                <div class="reservations_grid_category">Status</div>
                <div class="reservations_grid_category">Room</div>
                <div class="reservations_grid_category">Check-in</div>
                <div class="reservations_grid_category">Check-out</div>
                <div class="reservations_grid_category">Host</div>
            </li>
            {% for reservation in user.reservations.all %}
                <a href="{% url 'reservations:detail' reservation.pk %}">
                    <li class="reservations_grid py-2 border-b border-gray-400 hover:bg-gray-200">
                        <div class="reservations_grid_item font-medium {% if reservation.status == 'pending' %} text-yellow-500 {% elif reservation.status == 'confirmed' %} text-green-500 {% else %} text-red-400 {% endif %}">{{reservation.get_status_display}}</div>
                        <div class="reservations_grid_item">{{reservation.room}}</div>
                        <div class="reservations_grid_item">{{reservation.check_in}}</div>
                        <div class="reservations_grid_item">{{reservation.check_out}}</div>
                        <div class="reservations_grid_item">{{reservation.room.host.first_name}} {{reservation.room.host.last_name}}</div>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}