{% extends 'base.html' %}
{% load my_tags %}

{% block page_title %}
Change Password
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}
<div class="h-75vh">
    <div class="continue_form">

        <div class="continue_title">Password Update</div>

        <form class="mb-0" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
            {% endif %}

            {% for field in form %}
            {% include "partials/login_form/form_input.html" with field=field %}
            {% endfor %}
            <button class="btn continue_btn mb-3">Change password</button>
        </form>

    </div>
</div>

{% endblock content %}